<h1>Listing name_titles</h1>

<table>
  <thead>
    <tr>
      <th>Name</th>
      <th colspan="3"></th>
    </tr>
  </thead>

  <tbody>
    <% @name_titles.each do |name_title| %>
      <tr>
        <td><%= name_title.name %></td>
        <td><%= link_to 'Show', name_title %></td>
        <td><%= link_to 'Edit', edit_name_title_path(name_title) %></td>
        <td><%= link_to 'Destroy', name_title, method: :delete, data: { confirm: 'Are you sure?' } %></td>
      </tr>
    <% end %>
  </tbody>
</table>

<br>

<%= link_to 'New Name title', new_name_title_path %>
