<%= form_for(@notice) do |f| %>
  <% if @notice.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(@notice.errors.count, "error") %> prohibited this notice from being saved:</h2>

      <ul>
      <% @notice.errors.full_messages.each do |message| %>
        <li><%= message %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <div class="field">
    <%= f.label :session_id %><br>
    <%= f.collection_select :session_id,Session.all,:id,:desc %>
  </div>
  <div class="field">
    <%= f.label :house_diary_no %><br>
    <%= f.text_field :house_diary_no %>
  </div>
  <div class="field">
    <%= f.label :answer_date %><br>
    <%= f.date_select :answer_date %>
  </div>
  <div class="field">
    <%= f.label :subject %><br>
    <%= f.text_field :subject %>
  </div>
  <div class="field">
    <%= f.label :received_date %><br>
    <%= f.text_field :received_date %>
  </div>
  <div class="actions">
    <%= f.submit %>
  </div>
<% end %>
