<%= form_for(@myminister) do |f| %>
  <% if @myminister.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(@myminister.errors.count, "error") %> prohibited this myminister from being saved:</h2>

      <ul>
      <% @myminister.errors.full_messages.each do |message| %>
        <li><%= message %></li>
      <% end %>
      </ul>
    </div>
  <% end %>
	<div class="field">
    <%= f.label :ministry_id %><br>
    <%= f.collection_select :ministry_id, Ministry.all,:id,:name %>
  </div>
  
  <div class="field">
    <%= f.label :name %><br>
    <%= f.text_field :name %>
  </div>
  <div class="actions">
    <%= f.submit %>
  </div>
<% end %>
