<%= nested_form_for(@project) do |f| %>
<% if @project.errors.any? %>
<div id="error_explanation">
	<h2><%= pluralize(@project.errors.count, "error") %> prohibited this project from being saved:</h2>
	<ul>
		<% @project.errors.full_messages.each do |message| %>
		<li>
			<%= message %>
		</li>
		<% end %>
	</ul>
</div>
<% end %>

<div class="field">
	<%= f.label :name %>
	<br>
	<%= f.text_field :name %>
</div>

<div>
	<%= f.fields_for :tasks do |task_form| %>
	<%= f.label :name %> <%= task_form.text_field :name %><br>
	<%= f.label :owner %><%= task_form.text_field :owner %><br>

	<%= f.label :deadline %> <%= task_form.date_field :deadline %><br>
	<%= task_form.link_to_remove "Remove this task" %>
	<% end %>

	<p>
		<%= f.link_to_add "Add a task", :tasks %>
	</p>
</div>
<div>
	<%= f.fields_for :addresses do |address_form| %>
	<%= f.label :plot_no %> <%= address_form.text_field :plot_no %><br>
	<%= f.label :street_name %> <%= address_form.text_field :street_name %><br>
	<%= f.label :colony_name %> <%= address_form.text_field :colony_name %><br>
	<%= f.label :city %><%= address_form.text_field :city %><br>
	<%= f.label :state %><%= address_form.text_field :state %><br>
	<%= f.label :pincode %><%= address_form.text_field :pincode %><br>
	<%= f.label :mobile %><%= address_form.text_field :mobile %><br>

	<%= address_form.link_to_remove "Remove this address" %>
	<% end %>
	<p>
		<%= f.link_to_add "Add am address", :addresses %>
	</p>
</div>

<div class="actions">
	<%= f.submit %>
</div>
<% end %>
