<%= form_for(@section_officer) do |f| %>
  <% if @section_officer.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(@section_officer.errors.count, "error") %> prohibited this section_officer from being saved:</h2>

      <ul>
      <% @section_officer.errors.full_messages.each do |message| %>
        <li><%= message %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <div class="field">
    <%= f.label :name %><br>
    <%= f.text_field :name %>
  </div>
  <div class="actions">
    <%= f.submit %>
  </div>
<% end %>
