<h1>Listing section_officers</h1>

<table class="table">
  <thead>
    <tr>
      <th>Name</th>
      <th colspan="3"></th>
    </tr>
  </thead>

  <tbody>
    <% @section_officers.each do |section_officer| %>
      <tr>
        <td><%= section_officer.name %></td>
        <td><%= link_to 'Show', section_officer %></td>
        <td><%= link_to 'Edit', edit_section_officer_path(section_officer) %></td>
        <td><%= link_to 'Destroy', section_officer, method: :delete, data: { confirm: 'Are you sure?' } %></td>
      </tr>
    <% end %>
  </tbody>
</table>

<br>

<%= link_to 'New Section officer', new_section_officer_path %>
